* {
  margin: 0;
}
body{
  background-color: white;
}

.base {
  width:100% ;
} 

.strip:nth-child(even) {
  background-color: rgb(195, 195, 195);
  padding: 10px;
   text-align: center;
}

.strip:nth-child(odd) {
  background-color: rgb(144, 144, 144);
  padding: 10px;
   text-align: center;
}

.country {
  background-color: rgb(22, 22, 22);
  color: white;
  margin: 5px 0px;
  padding: 5px 10px;
  margin-left:250px
}
.tin {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
 
  
}


.jude {
  background-color: rgba(1, 1, 216, 0.733);
  font-size: 20px;
  width: 100%;
  text-align: center;
  color:white;
  
}
.pac {
  border-bottom: 1px solid white;
  margin: 0px;
 
  padding: 0px 5px;
  cursor: pointer;
  text-align: center;
  word-wrap: break-word;  
  width:400px;
}
.pac:hover {
  background-color: blue;
  font-size: 21px;
}

.header {
  background-color: rgb(28, 31, 28);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
}
.logo {
  height: 7vh;
  width: 7vw;
  margin: auto;
}
.logoheader {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;


}
.list {
  padding: 10px;
  text-align:center;
}
.list a {
  font-size: 18px;
  padding: 11px;
  cursor: pointer;
}
a:hover {
  color: rgba(74, 71, 233, 0.986);
  background: white;
  transition: 2s;
}
span {
  color: rgba(84, 81, 252, 0.986);
}
.result{
  display:flex;
}
.loading{
  margin-top:150px;
}
.error{
  background-color:white;
  color:black;
  box-shadow: 2px 2px 2px 2px gray;
  text-align: center;
  width:60%;
  height:50vh;
  margin-top:100px;
}
.error h1{
 padding-top:60px;
  color:red;
}

.home{
  width:200px;
  word-wrap: break-word;
  text-align: center;
}
.body{
  background-color:rgb(46, 30, 30);
}
.contact{
  background-color: white;
  box-shadow: 2px 2px 2px 2px gray;
  width: 100%;
  height:50%;
  margin-top:30px;
  text-align: center;
}
.contact h1{
  background-color: gray;
  color:white;
}